html, body {
background: url('bg.png') ;
color:white;
font-family: 'Avenir Black', sans-serif; 
font-size:16px;
}

.PCB {
border:1px solid gray;
border-radius:1px;
background: #000000DD;
width:600px;
height:500px;
margin: 100px auto;
padding:50px;
}
a {
  color:#88000099;
  text-decoration:none;
}
